#root {
  max-width: 1280px;
  margin: 0 auto;
  
}

body{
  background-color: rgb(92, 100, 100);
}
header{ 
  display: flex;
  background-color: rgb(136, 131, 126);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 7px;
  h3{
    margin: 0;
  }
}

.logo__images{
  display: flex;
  gap: 15px;

}

.note__list{
  background-color: rgb(113, 141, 141);
  max-width: 700px;
  font-size: 20px;
  padding: 20px;
  border-radius: 14px;

  .notes{
    display: flex;
    gap: 10px;
  }
  ol{
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  code{
    letter-spacing: 1.1;
  }
  a{
    color: darkcyan ;
    font-weight: 600;
    text-decoration: none;
  }
}


section{
  .react__title{
    font-size: 30px;
  }
  .react__sub-title{
    font-size: 22px;
  }
  p{
    font-size: 18px;
  }
  code{
    font-size: 16px;
    color: rgb(238, 231, 231);
  }
}

footer{
  margin: 0;
  padding: 20px;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  .company{
    font-size: 25px;
  }
  a{
    color: black;
    letter-spacing: 1.2px;
  }
}